.foot{
    display: flex;
    background-color: #2B7A91;
    justify-content: space-around;
    padding: 1.5rem 0rem;
    font-size: 1.2rem;
}

.addrs{
    margin-top: 10px;
}

.mob{
    margin-top: 10px;
}

.hfour{
   text-align: center;
    margin-bottom: 15px;
}